* {
    font-family: "Motiva Sans", sans-serif;
    margin: 1vmin;
}

h1 {
    font-size: 8vmin;
}

p {
    font-size: 4vmin;
}

.board {
    width: 75vmin;
    height: 75vmin;
    border-spacing: 0; /*убрать отступы между ячейками*/
    border-collapse: collapse; /*разрешить совпадающим линиям накладываться*/
}

.board td{
    border: 1px solid;
}

.button {
    /*font-size: 14px;*/
    margin: 1vmin;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

